/*============================
	
       Global Stylings
 
============================*/
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

html {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
	box-sizing: inherit;
}

.app-container {
	display: grid;
	grid:
		"tv remote" 100vh
		/ 60vw 40vw;
}

/*==========================================================================================
	
                                         gifTV Styles
 
===========================================================================================*/

/*============================
	
      
 
============================*/

.tv-container {
	grid-area: tv;
	
	background-image: url('../images/bg3.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	
//	position: relative;
	
/* 	z-index: -10; */
}
.tv {
	width: 51vw;
	height: 34vw; 
	width: 677px;
	height: 451px;
/*
	max-width: 600px;
	max-height: 400px;
*/
/*
	max-width: 515px;
	max-height: 343px;
*/
	position: relative;
	margin: 15% auto;
/* 	top: 15%; */
}
.tv-img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
//	transform: translateX(-25%) translateY(-25%);
}
.gif {
	height: 85%;
	height: 77%;
	width: 100%;
	width: 93%;
/* 	z-index: -1; */
	
	position: absolute;
	top: 0;
//	top: 4.5%;
//	top: -4%;
	top: 4.5%;
	left: 3.5%;
}
.channel-display {
	height: 25%;
	width: 93%;
	position: absolute;
//	bottom: 15%;
	bottom: 18.5%;
	left: 3.5%;
	background: rgba(0, 0, 0, 0.5);
	text-shadow: 2px 2px 10px black;
	
	color: #FFF;
	font-family: sans-serif;
	font-size: 3.5em;
	font-size: 3em;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.num-display {
	height: 20%;
	width: 20%;
	position: absolute;
	top: 4.5%;
	left: 3.5%;
/* 	background: rgba(0, 0, 0, 0.5); */
	text-shadow: 2px 2px 10px black;
	z-index: 1;
	
	color: #FFF;
	font-family: sans-serif;
	font-size: 3.5em;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.fav-display {
	height: 20%;
	width: 20%;
	position: absolute;
	top: 4.5%;
	right: 3.5%;
	text-shadow: 2px 2px 10px black;
//	background: rgba(0, 0, 0, 0.5);
	
	color: rgba(227, 27, 35, 0.7);
	font-size: 3.5em;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	opacity: 0;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 0.5s;
}
@keyframes fadeOutOpacity {
	0% {
		opacity: 0.85;
		transform: scale(1);
	}
	50% {
		transform: scale(1.5)
	}
	75% {
		opacity: 0.85;
//		transform: scale(1.5);
	}
	100% {
		opacity: 0.3;
		transform: scale(1);
	}
}
.full-screen {
	height: 77%;
	width: 93.5%;
	position: absolute;
	top: 4.5%;
	left: 3.5%;
	background: rgba(0, 0, 0, 0.85);
	
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.full-screen p {
	text-transform: capitalize;
	font-family: sans-serif;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded" , Arial, sans-serif;
	font-size: 1.25em;
	font-weight: 900;
	color: #FFF;
	text-shadow: 2px 2px 10px black;
	line-height: 1.6;
	margin: 1em 0;
}
.full-screen span {
	font-weight: 100;
//	opacity: 0.9
}
.back-btn {
	opacity: 1;
	color: rgba(0, 0, 0, 1);
	font-family: sans-serif;
	font-size: 1.25em;
	font-weight: bold;
	text-shadow: none;
	padding: 0.4em;
	margin: 0 auto;
	width: 150px;
	border: 1px solid rgba(255, 255, 255, 0.7);
	background: rgba(169, 169, 169, 0.6);
	
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.back-btn:hover,
.back-btn:active,
.back-btn-hover {
	background: rgba(255, 255, 255, 0.7);
}
.help-display,
.guide-display {
	height: 77%;
	width: 93.5%;
	position: absolute;
	top: 4.5%;
	left: 3.5%;
	background: rgba(0, 0, 0, 0.85);
	
	overflow: auto;
	padding: 2em;
	
	font-family: serif;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded" , Arial, sans-serif;
	font-size: 1em;
	color: #FFF;
	text-shadow: 2px 2px 10px black;
	line-height: 1.6;
/*
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
*/
}
.help-display h2 {
	font-size: 2.25em;
	margin: 0.5em auto;
	text-align: center;
}
.help-display h3 {
	font-size: 2em;
	margin: 0.5em auto;
}
.help-display p {
	font-size: 1.1em;
	margin: 1em 0;
}
.help-display span {
/* 	font-weight: bold; */
	margin: 0.5em auto;
}
.help-display dt {
	font-size: 1.35em;
	margin: 0.5em auto;
}
.help-display dd {
	margin: 0.5em auto;
	margin-left: 2em;
	font-size: 1.1em;
}
/*
.guide-display {
	height: 77%;
	width: 93.5%;
	position: absolute;
	top: 4.5%;
	left: 3.5%;
	background: rgba(0, 0, 0, 0.85);
	
	overflow: auto;
	padding: 2em;
	
	font-family: serif;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded" , Arial, sans-serif;
	font-size: 1em;
	color: #FFF;
	text-shadow: 2px 2px 10px black;
	line-height: 1.6;
}
*/
.guide-display {
//	background: none;
	padding: 0;
	margin: 0;
}
.guide-info,
.empty-info {
	width: 100%;
	height: 25%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-bottom: 1px solid black;
	background: rgba(178, 34, 34, 0.5);
}
.guide-info:hover,
.hovered {
	background: rgba(255, 255, 255, 0.85);
}
.guide-data {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*
.guide-display table {
	width: 100%;
	height: 100%;
	font-size: 2em;
//	background: rgba(178, 34, 34, 0.25);
}
.guide-display tr {
//	height: 25%;
	width: 100%;
	border-bottom: 1px solid black;
	display: flex;
	cursor: pointer;
	background: rgba(178, 34, 34, 0.5);
}
.guide-display td {
	height: 100%;
//	width: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.guide-display tr:hover {
	background: rgba(255, 255, 255, 0.85);
}
.ch-tr {
	width: 65%;
	height: 25%;
	font-size: 0.9em;
	padding: 0.6em 0;
}
.ch-td {
	width: 35%;
	height: 25%;
	font-size: 0.9em;
	padding: 0.6em 0;
}
*/

/*==========================================================================================
	
                                      Remote Control Styles
 
===========================================================================================*/

/*============================
	
      Remote Containers
 
============================*/

.remote-container {
	grid-area: remote;
	
	background-image: url('../images/bg2.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	
/* 	z-index: -10; */
}
.remote {	
	margin: 5em auto;
	
	background: #25292C;
	width: 315px;
	height: 725px;
	border-radius: 3em;
	border: 1px solid gray;
	
	position: relative;
	
	box-shadow: 
		inset 1px 1px 2px rgba(255, 255, 255, 0.3),
		inset 3px 15px 45px rgba(255, 255, 255, 0.1),
		inset -1px -1px 2px rgba(0, 0, 0, 0.5),
		inset -3px -15px 45px rgba(0, 0, 0, 1);
	transition: 0.1 ease-out;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.remote:before {
	content: '';
	width: 315px;
	height: 725px;
	top: 0;
	left: 0;
	border-radius: 3em;

	content: '';
	position: absolute;
	
	background: #1A1A1A;
	
	z-index: -2;
	
	box-shadow: 
		inset -1px -1px 2px rgba(255, 255, 255, 0.3),
		inset -5px -15px 40px rgba(255, 255, 255, 0.1),
		inset 1px 1px 2px rgba(0, 0, 0, 0.5),
		inset 5px 15px 40px rgba(0, 0, 0, 0.2),
		-2px -40px 50px -20px rgba(255, 255, 255, 0.1),
		2px 35px 50px -10px rgba(0, 0, 0, 0.4),
		0px 0px 25px 8px rgba(60, 60, 60, 1);

}
.buttons-container {
	width: 94%;
	height: 97%;
	border: 1px solid #FFF;
	border-radius: 3em;
	
	display: grid;
	grid:
		"top" 40%
		"mid" 15%
		"bot" 45%
		/ 100%;
}

/*==============================
	
 Control Buttons of the Remote
 
==============================*/

.control-buttons {
	grid-area: top;

	height: 100%;
	
	display: grid;
	grid: 
		"info up fav" 25%
		"left pause right" 50%
		"help down add" 25%
		/ 25% 50% 25%;
		
	justify-content: center;
	align-items: center;
	padding: 1em;
}
.info {
	grid-area: info;
}
.up {
	grid-area: up;
}
.fav {
	grid-area: fav;
}
.left {
	grid-area: left;
}
.pause {
	grid-area: pause;
}
.right {
	grid-area: right;
}
.help {
	grid-area: help;
}
.down {
	grid-area: down;
}
.add {
	grid-area: add;
}

/*=============================
	
 Numbers Buttons of the Remote
 
==============================*/

.number-buttons {
	grid-area: bot;
	height: 100%;
	
	display: grid;
	grid:
		"one two three" 25%
		"four five six" 25%
		"seven eight nine" 25%
		"back zero random" 25%
		/ 1fr 1fr 1fr;
		
	justify-content: center;
	align-items: center;
	padding: 1em;
}
.one {
	grid-area: one;
}
.two {
	grid-area: two;
}
.three {
	grid-area: three;
}
.four {
	grid-area: four;
}
.five {
	grid-area: five;
}
.six {
	grid-area: six;
}
.seven {
	grid-area: seven;
}
.eight {
	grid-area: eight;
}
.nine {
	grid-area: nine;
}
.back,
#back2 {
	grid-area: back;
	transform: scaleX(-1);
	filter: FlipH;
}
.zero {
	grid-area: zero;
}
.random {
	grid-area: random;
}

/*=================================
	
 Add Channel Buttons of the Remote
 
==================================*/

.input-container {
	grid-area: mid;
	height: 100%;
	
	display: grid;
	grid:
		"input" 60%
		"submit" 40%
		/ 100%;
	justify-content: center;
	align-items: flex-start;
}
.input {
	border: 2px solid rgba(255, 255, 255, 0.5);
	font-size: 1.75em;
	padding: 0.25em 0.5em 0.3125em;
	color: rgba(255, 255, 255, 0.5);
	border-radius: 0.25em;
	background: transparent;
	transition: all 0.1s;
	outline: none;
	
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded" , Arial, sans-serif;
	
	grid-area: input;
	width: 90%;
	margin: 0 auto;
	display: inline-block;
	
	height: 53px;
	font-size: 1.5em;
}	
.input:focus{
	outline:none;
	color:rgba(255, 255, 255, 0.75);
	border-color:rgba(255, 255, 255, 0.75);
	padding-right: 80px;
}
#submit {
	grid-area: submit;
	font-size: 1.75em;
	font-size: 1.15em;
	position: absolute;
	right: 8.5%;
	bottom: 52.5%;
}
#go-back {
/* 	display: inline-block; */
	position: absolute;
	font-size: 1em;
	bottom: 44.1%;
	left: 6.75%;
	height: 50px;
	width: 65px;
//	border-radius: 1em;
}
#guide {
/* 	display: inline-block; */
}

/*=================================
	
          Button Stylings
 
==================================*/

.btn {
	position: relative;
	cursor: pointer;

	background: #25292C;
	margin: 0 auto;

	color: rgba(155, 155, 155, 1);
	text-shadow: 
		-1px -1px 0px rgba(255, 255, 255, 0.8),
		1px 1px 2px rgba(0, 0, 0, 1);
	font-family: sans-serif;
	
	box-shadow: 
		inset 1px 1px 2px rgba(255, 255, 255, 0.3),
		inset 3px 15px 45px rgba(255, 255, 255, 0.1),
		inset -1px -1px 2px rgba(0, 0, 0, 0.5),
		inset -3px -15px 45px rgba(0, 0, 0, 1);
	transition: 0.1 ease-out;
	display: flex;
//	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.btn:active {
	color: rgba(0, 0, 0, 0.7);
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
	box-shadow: 
		inset 1px 1px 2px rgba(255, 255, 255, 0.3),
		inset 3px 15px 45px rgba(0, 0, 0, 0.2),
		inset -1px -1px 2px rgba(0, 0, 0, 0.5),
		inset -3px -15px 45px rgba(255, 255, 255, 0.1),
		1px 5px 10px -4px rgba(0, 0, 0, 1);
}
.sm {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	font-size: 2.5em;
}
.long {
	width: 102px;
	height: 60px;
	border-radius: 1em;
	font-size: 2.5em;
}
.tall {
	width: 60px;
	height: 102px;
	border-radius: 1em;
	font-size: 2.5em;
}
.lg {
	width: 102px;
	height: 102px;
	border-radius: 50%;
	font-size: 4em;
}
.xlong {
	width: 125px;
	height: 50px;
	border-radius: 1em;
	font-size: 2.5em;
	font-size: 1.5em;
}
.ok {
	font-size: 2.25em;
}
.sq {
	width: 49px;
	height: 49px;
	border-radius: 0.1em;
}




.js-hidden {
	display: none;
}